.content_head{
    background-color: greenyellow;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    margin: 0px;
   
}
p{
    color:maroon;
    text-indent: 60px;
   justify-content:end ;
   text-align: justify;
   font-size: medium;
   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.container{
    background-color: red;;
}
.row{
    margin: 200px;
}