.wrapper_body{
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 50px auto;
    padding: 20px;
    align-items: center;
    text-align: center;
}

.wrapper_body > div {
    color: green;
}